[2019-12-17 15:46] tpayet opened #24 "API Key on client object is not optionnal"
An API Key shouldn't be mandatory when instanciating a client

[2019-12-17 16:34] #24 closed

[2020-01-06 13:28] Seluj78 opened #29 "Using relative imports !"
https://github.com/meilisearch/meilisearch-python/blob/595c7353de785d465b4cf2f87a569587e8a48489/meilisearch/client.py#L1-L7

In `client.py` (and many others) you are using relative imports. You should change it to

[code]

[2020-01-06 16:41] #29 closed

[2020-01-07 17:18] curquiza opened #33 "More detailed README"
Add examples about index creation/deletion, documents, updates and search.

https://github.com/meilisearch/meilisearch-ruby

[2020-01-13 18:15] curquiza opened #34 "Automatization of python package"
Automatization of python package push to [PyPi](https://pypi.org/)

[2020-01-14 16:46] bidoubiwa opened #35 "Search route badly formatted"
The search route should have this as a prototype :

index.search(query: string, [options: object])

Options being optional and query mandatory.

[2020-01-15 10:41] #33 closed

[2020-02-15 18:46] curquiza opened #42 "get_documents method parameter should be optional"
The parameter in the method `get_documents` should be optional.
Indeed, [the API](https://docs.meilisearch.com/references/documents.html#get-documents) route works well without any query parameter by default.

- [x] Add optional parameter
- [x] Add a test with no parameter
- [x] Add a test with an empty parameter: `{}`
- [x] Add a test with  parameter: `{ limit: 10, ... }`

[2020-03-05 10:34] curquiza commented on #34
Close with the #45

[2020-03-05 10:34] #34 closed

[2020-03-19 10:38] curquiza opened #52 "Error handler"
It could be better for this package to have its own error handler.

Not an emergency.

[2020-03-19 12:51] curquiza opened #53 "Improve tests"
The number of tests and their relevancy should be improved.

Some clues:
- do not test only if the response is a `list` or a `dict`: we should check that the response contains some keys and values.
- When testing an asynchronous method, we should only check that the response contains an `updateId`: we should check that the action has been well executed.
ex: if testing document addition, we need to

[2020-03-19 12:58] curquiza opened #54 "Inheritance refactoring"
Currently, the sens of inheritance is (from parent to children classes)
`Document`, `Settings`... -> `Index`.
And: `HttpReqest` is used as a module

What we should have:
`HttpRequest` -> `Index` and `Client`

This is more logical because `Index` and `Client` are classes to communicate with MeiliSearch, so it should inherit the `HttpRequest` properties to actually do this communication.
This way, w

[2020-03-20 18:54] #42 closed

[2020-03-20 18:55] curquiza commented on #35
fix in #51

[2020-03-20 18:55] #35 closed

[2020-04-17 16:59] jtmiclat opened #60 "Include message when Client Error is raised"
I was using the library and was getting 400 Client Error `Exception: 400 Client Error: Bad Request for url:http....`

I then had to use `curl` to read what the error was.

I think it would be nice to include the error message returned by Meilisearch for 400 error codes so users do not have to call the API using another library or tool to debug.

The relevant piece of code:

https://github.com/meil

[2020-04-17 17:13] jtmiclat opened #61 "Document.get_documents default parameters broken."
Running the following code  raises a type error
[code]

The culprit seems to be default value of `parameters` is `None` and `urlencode` needs a list or dict
[code]
A workaround is passing an empty dict.
[code]
A possible solution is changing the default value of `parameters` to an empty dict or list.

Relevant code :
https://github.com/meilisearch/meilisearch-python/blob/b6a48a62bb64ae58181550a0dd

[2020-04-18 21:54] curquiza commented on #61
Thanks a lot for reporting and fixing this issue, I'm doing your review right now! 🙂

[2020-04-18 21:55] #61 closed

[2020-04-18 21:58] curquiza commented on #60
Hi! You're totally right, it's not convenient for the moment! We plan to do an error handler (#52).
I link your issue to the previous one about the error handling 🙂

[2020-04-18 21:59] curquiza commented on #52
Related issue #60

[2020-04-18 23:18] curquiza opened #64 "wait_for_pending_update method"
Related to [this issue](https://github.com/meilisearch/integrations-guides/issues/1).

[2020-04-21 17:22] chadwcarlson opened #66 "unsupported operand `get_keys()`"
Alright, this was working perfectly fine before, but is breaking on the same request.

python: 3.7
meilisearch: 0.10.0
meilisearch-python:  0.10.0

[code]

[code]

What  am I missing here?  Much appreciated.

C

[2020-04-21 17:26] #66 closed

[2020-04-21 17:27] chadwcarlson commented on #66
False alarm. I was passing it a function that returned the host definition, and that was the problem.

[2020-04-22 09:30] curquiza commented on #66
Hey @chadwcarlson!
Good to know that you solved the issue 🙂
Don't hesitate if you have any other question, you're issue was detailed, we really appreciate that!
Also, you can join us [in our Slack](https://slack.meilisearch.com/) to ask your questions 😉

[2020-04-28 11:01] eskombro opened #68 "Add a link in the README to the integration guides"
Related to [this general issue](https://github.com/meilisearch/integration-guides/issues/7)

[2020-05-03 17:55] curquiza opened #70 "get_or_create_index method"
Issue fully detailed [here](https://github.com/meilisearch/integration-guides/issues/2).

[2020-05-03 18:20] curquiza opened #71 "delete_all_indexes method"
Issue fully detailed [here](https://github.com/meilisearch/integration-guides/issues/11).

[2020-05-13 18:08] #68 closed

[2020-05-23 16:14] #54 closed

[2020-05-24 21:04] curquiza commented on #71
Close with [this discussion](https://github.com/meilisearch/integration-guides/issues/11#issuecomment-633298258).

[2020-05-24 21:04] #71 closed

[2020-05-25 16:56] bidoubiwa opened #77 "Create and fill sample file to display Python examples in MeiliSearch Documentation"
# Code Samples for MeiliSearch documentation

## Introduction
As MeiliSearch grows so does its SDK's.  More and more SDK's rises from the ground and they all deserve to be as well documented as the core engine itself.

The most common way for a user to understand MeiliSearch is to go to its official documentation. As of yesterday all examples in the documentation were made with `cURL`. Unfortunate

[2020-05-26 12:23] eskombro commented on #77
Link is broken (404)

[2020-05-26 12:40] curquiza commented on #77
@eskombro, for me, it's not a link. It's the path to get the file in the documentation repository.
If you want the link: https://docs.meilisearch.com/sample-template.yaml

[2020-05-27 00:24] eskombro commented on #77
@curquiza there is a hyperlinked text "here" leading to a 404 error :)
Now it links to the actual file, thanks @bidoubiwa

[2020-05-27 00:27] eskombro commented on #53
Working on this, I realized it would be way easier to have the `wait_for_pending_update` method, so I did this PR #79 and based my improving tests branch on it. When it gets merged, I can rebase my tests branch on master :)

[2020-05-27 12:09] bidoubiwa commented on #77
This issue is now active and waiting for a contribution ❤️

[2020-05-27 13:09] #64 closed

[2020-05-28 02:02] eskombro commented on #60
This will be handled very soon! [this](https://github.com/meilisearch/MeiliSearch/issues/683) is going to significantly improve error handling in the whole MeiliSearch ecosystem, and it will of course improve our SDKs!

[2020-05-29 14:25] eskombro opened #84 "Setting a primary key when it already exists is not handled"
As for now, updating an index does:

[code]

If the primary key is already set, this function will just ignore the primary key the user is sending, without raising an exception or notifying the user. We should handle this case

[2020-05-29 14:35] curquiza commented on #84
FYI: There is the same behavior when [adding documents](https://docs.meilisearch.com/references/documents.html#add-or-replace-documents) or [updating documents](https://docs.meilisearch.com/references/documents.html#add-or-update-documents).

Not sure it would be a good idea to block with an exception: we chose not to block with MeiliSearch.
It would be easier to handle that when MeiliSearch will

[2020-05-29 15:24] eskombro opened #85 "Search parametters don't accept lists of strings (and should)"
While working in the improve tests PR, #80, we realized that the search parameters like `attributesToRetrieve` can't handle a list of strings. you should be able to pass a list of fields, not just a single field or '*'.

The test we did and failed was:

[code]

And the error shows that MeiliSearch response is sending all the fields

[code]

[2020-05-29 18:57] #53 closed

[2020-06-01 10:03] eskombro opened #86 "Index create and update methods should map body into json and send to MeiliSearch"
Currently, this methods accept a body parameter, look for the requested fields inside of that body and send them in the payload. In this case, the SDK is not necessarily relying in the MeiliSearch API, but manipulating the user data to build a payload before sending it to MeiliSearch. This can introduce new errors that don't necessarily correspond to the MeiliSearch API errors, and it is not reall

[2020-06-01 19:59] #84 closed

[2020-06-02 09:03] curquiza commented on #86
Tell me if I'm wrong: what you mean is not to check the body (like the present parameters) and to send directly the body to MeiliSearch, right?
That's what we do in some of the other SDKs (Ruby and PHP for example) but because I wanted to make it simple of the first SDKs version.
What do you think guys? Is it ok not to check the body parameter before sending it to MeiliSearch? (If I understand wel

[2020-06-02 15:54] #52 closed

[2020-06-02 15:54] #60 closed

[2020-06-02 19:53] eskombro commented on #86
Exactly. SDK's can work as a wrapper for the MeiliSearch API routes (and add of course more functionality like `getOrCreateIndex`, `waitForPendingUpdate`, ...). But they should just send the json body to MeiliSearch, and the server will return the error message if there is a problem. But SDK's shouldn't build a payload itself. When MeiliSearch adapts it's behavior/functionality, we don't need to u

[2020-06-02 19:54] eskombro commented on #86
xactly. SDK's can work as a wrapper for the MeiliSearch API routes (and add of course more functionality like getOrCreateIndex, waitForPendingUpdate, ...). But they should just send the json body to MeiliSearch, and the server will return the error message if there is a problem. But SDK's shouldn't build a payload itself. When MeiliSearch adapts it's behavior/functionality, we don't need to update

[2020-06-03 14:43] curquiza commented on #86
I agree with your POV.
I think that @bidoubiwa did that on the python package to be "safer".
Do you agree @bidoubiwa if we remove this part of check?

[2020-06-03 15:13] bidoubiwa commented on #86
Yes! It was indeed to make it safer but either we check everything we send to MeiliSearch, either we let meilisearch handle the errors. So lets remove it :D

[2020-06-03 18:46] eskombro opened #91 "Create MeiliSearchTimeoutError: custom error for wait_for_pendig_update"
The `wait_for_pending_update` method should return a custom error from MeiliSearch, rather than a generic TimeoutError

_____

- [x] Create a new custom error `MeiliSearchTimeoutError`, as a Child class to `MeiliSearchError` in [errors.py](https://github.com/meilisearch/meilisearch-python/blob/master/meilisearch/errors.py)
- [x] Modify the [wait_for_pending_update](https://github.com/meilisearch/m

[2020-06-04 14:42] curquiza opened #92 "Clear all indexes before each context of test"
When running a test context (a class) in tests section, we don't currently clean all indexes in the MeiliSearch instance. If there are remaining indexes, it can lead to tests failure.

We should provide clean testing contexts to test exactly what we expect, and not develop in a random context.

- Create a `clear_all_indexes` method
- Call it in the `setup_class` method in each test context.

## ED

[2020-06-12 01:50] jet10000 opened #100 "async await?"
Python asyncio? Async await

Used with the current asynchronous web framework of Python

[2020-06-12 02:34] eskombro commented on #100
Hi @jet10000,

Can you please provide a more detailed description to this issue?

Thanks

[2020-06-12 23:43] eskombro opened #102 "Get 'pretty system information' route doesn't exist in SDK"
MeiliSearch exposes sysinfo in two ways:

- [Get system information](https://docs.meilisearch.com/references/sys-info.html#get-system-information)
- [Get pretty system information](https://docs.meilisearch.com/references/sys-info.html#get-pretty-system-information)

Currently this SDK only provides the first one (and not the pretty one)!

[2020-06-13 23:07] #100 closed

[2020-06-15 11:01] eskombro opened #103 "Add samples for facetting on v0.11"
Add examples for faceting routes, settings and search in `.code-samples.meilisearch.yaml` file

Related to #77

[2020-06-15 12:19] #77 closed

[2020-06-16 16:50] bidoubiwa opened #106 "Update code-sample about updateDocuments"
Related to: meilisearch/documentation#405

Could you update
[code]

with
[code]

[2020-06-16 16:53] eskombro commented on #106
There is actually an error, that should be the example `add_or_update_documents_2`. Right?

I'll fix that

[2020-06-16 20:06] #106 closed

[2020-06-25 00:04] #92 closed

[2020-06-29 01:29] #103 closed

[2020-06-29 02:09] eskombro opened #116 "Use error code instead of error message"
As referenced here https://github.com/meilisearch/MeiliSearch/issues/683 MeiliSearch will rely now on error codes instead of error messages. This makes it possible to modify error messages without having an impact in the SDK behavior. Python SDK relayed in error messages, specially when trying to create an index that exists already in the MeiliSearch instance.

The `MeiliSearchApiError` should now

[2020-06-29 08:25] #116 closed

[2020-06-29 11:32] #70 closed

[2020-07-13 23:49] #102 closed

[2020-07-13 23:50] eskombro commented on #102
Close as all the sys-info routes are being removed, cf https://github.com/meilisearch/MeiliSearch/pull/810

[2020-07-13 23:58] eskombro opened #126 "Implement POST route in search method"
According to https://github.com/meilisearch/integration-guides/issues/37, and after [this decision](https://github.com/meilisearch/integration-guides/issues/37#issuecomment-652935842), search method should always use the `POST` search route. The `GET` search route will be considered deprecated in this SDK.

[2020-07-14 00:02] eskombro opened #127 "Remove sys-info routes"
As stated in https://github.com/meilisearch/MeiliSearch/pull/810 and https://github.com/meilisearch/integration-guides/issues/36 the sys-info routes will be considered as deprecated in MeiliSearch v0.13.0. These routes should be removed from this SDK accordingly.

[2020-07-16 16:01] muditsrivastava073 opened #129 "create_index and get_index giving json error"
Hello everyone,  i am trying to create a new index using python but it shows json error. i dont understand why. this is my sample code which i am trying to run.
`import meilisearch `
`client = meilisearch.Client('http://example', 'master key')`
`index = client.create_index('new_index') `# line3
`d = [some dictionary]`
`index.add_documents(d)` #line 5

earlier it was showing the same json error on

[2020-07-17 20:51] eskombro commented on #129
Hi!

I haven't been able to reproduce your error. Is it possible to get a more detailed example that is actually raising the same error to lookup closely to what the problem can be?

[2020-07-20 09:17] mde-pach opened #133 "Specify minimal python version in readme"
There is a lot of breaking backward compatibility feature in python minor version (like type hints in 3.5 or f string in 3.6) and there is a lot of breaking changes between python 2 and python 3.

So, you should specify the minimal python version required to use this package for more readability.

[2020-07-21 15:53] eskombro opened #136 "Placeholder search: Test"
As in https://github.com/meilisearch/MeiliSearch/pull/771 search `query` is now optional. If no query is sent, placeholder search is triggered, letting the user get some default results provided by MeiliSearch

[2020-07-21 16:25] eskombro opened #137 "Update settings following the settings behavior changes on MeiliSearch"
Following https://github.com/meilisearch/MeiliSearch/issues/824

- acceptNewFields is removed

⚠️ Tests will not run until:
- the v0.13.0 of MeiliSearch is released

[2020-07-27 13:21] curquiza commented on #137
Closing this issue since it's merged on the dev branch

[2020-07-27 13:21] #137 closed

[2020-07-27 13:21] curquiza commented on #136
Closing this issue since it's merged on the dev branch

[2020-07-27 13:21] #136 closed

[2020-07-27 13:21] curquiza commented on #127
Closing this issue since it's merged on the dev branch

[2020-07-27 13:21] #127 closed

[2020-07-27 13:21] curquiza commented on #126
Closing this issue since it's merged on the dev branch

[2020-07-27 13:21] #126 closed

[2020-07-29 13:48] bidoubiwa opened #140 "Missing code samples"
An update has been made on the [code-samples](https://github.com/meilisearch/documentation/tree/master/.vuepress/code-samples) list of samples.

The following samples are missing from this repository `.code-samples.meilisearch.yaml`
[code]

To know what we expect from these specific samples, please visit the `cURL` [sample file](https://github.com/meilisearch/documentation/blob/master/.code-sample

[2020-07-30 08:38] drcongo opened #141 "Search no longer works after upgrading MeiliSearch"
Hello. I built the wagtail-meilisearch backend for the Wagtail CMS, and I'm trying to update it to use more recent versions of MeiliSearch, but since upgrading MeiliSearch and meilisearch-python I get an error when searching the index that I had previously built...

[code]

The link to the error documentation at the end there is a 404, I was able to find the relevant page on the docs but it didn't

[2020-07-30 08:54] curquiza commented on #141
Hello @drcongo! Thanks for building wagtail-meilisearch! 😁

Can you give me the version of MeiliSearch and the version of meilisearch-python you are using? 🙂
And if possible, a dataset (or a piece of your dataset) so that we can reproduce the error?

[2020-07-30 09:24] drcongo commented on #141
Hi @curquiza - I'm upgrading from MeiliSearch 0.9.x to 0.11.1 and using meilisearch-python 0.11.2

I've just trashed the `data.ms` folder and I'm currently rebuilding the index to see if that helps. One possible change that I spotted in the tracebacks was that `primary_key` is no longer accepted on the `create_index` method, so I'm now passing in `options={'primaryKey': 'id'}` - does this seem sen

[2020-07-30 09:29] drcongo commented on #141
In fact, everything seems to work now that I've rebuilt the index (and Indexing seems faster?). Sorry to have bothered you!

One small question though, I was thinking I might update my versioning on wagtail-meilisearch to track the version numbers of your package, which is fairly close to tracking the version numbers of MeiliSearch itself. Does that sound like a good idea to you?

[2020-07-30 11:14] curquiza commented on #141
Not a problem, the database (`data.ms`) is indeed not compatible between 2 minors versions of MeiliSearch, it means you have to re-populate your MeiliSearch instance! Snapshotting and back-up are currently implementing to solve that 🙂

Hum, at the beginning meilisearch-python did indeed follow the same minor version (0.X.Y where X is the minor) of MeiliSearch. But we realized this is not convenien

[2020-07-30 11:26] drcongo commented on #141
Perfect, thanks. I actually ended up pushing a compatibility update as 0.11.0, but yeah, I take your point about how the different versions don't necessarily mean compatibility alignment. When we all hit 1.x it would make more sense.

Thanks for all the great work on this library!

[2020-07-30 11:26] #141 closed

[2020-08-11 11:49] curquiza commented on #86
I close since this part was removed!

[2020-08-11 11:49] #86 closed

[2020-09-04 03:39] frank-io opened #149 "Aggregate capability"
Hi there,

I'm new to Meilisearch and looking at the documentation.

Not sure if this is a proper place to ask ... But anyway, I haven't found much information about aggregations for Meilisearch in either this repo or the documentation. Could anyone point me to the aggregation section of Meilisearch

Cheers
Frank

[2020-09-25 04:42] dependabot-preview[bot] opened #151 "Dependabot couldn't authenticate with https://pypi.org/simple/"
Dependabot couldn't authenticate with https://pypi.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/meilisearch) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/meilisearch/update-logs/48672500).

[2020-09-28 04:38] #151 closed

[2020-09-28 14:50] curquiza commented on #129
I close this issue since we don't have enough information. Feel free to re-open it 🙂

[2020-09-28 14:50] #129 closed

[2020-09-30 13:18] rexdivakar commented on #133
I would like to work on this @eskombro

[2020-09-30 13:38] curquiza commented on #133
Hello @rexdivakar! Awesome! I assign you to this issue!
Feel free to ask any question here or [on our Slack](https://meilicommunity.slack.com/join/shared_invite/zt-c4rs8tpi-ZId_q3fw~7cqeuzFG4XHaA#/) (I'm Clementine and @eskombro is Samuel)

[2020-10-22 19:44] ledo01 opened #162 "Typo in create an index section of the python API documentation"
Replicating this example: [https://docs.meilisearch.com/references/indexes.html#create-an-index](https://docs.meilisearch.com/references/indexes.html#create-an-index), it get the following error:

[code]

The dictionary key for creating specifying the primary key of a new index should be `"primaryKey"` and not `"primary_key"` in the docs.

[2020-10-23 09:16] #162 closed

[2020-10-23 09:16] curquiza commented on #162
Thanks for pointing this!

[2020-10-28 04:46] fy0 commented on #100
He means need asyncio support, just like https://github.com/moshe/asonic for sonic.

[2020-10-28 08:23] curquiza commented on #100
We did not implement the async support yet, but we are thinking about how to add it in the future 🙂

[2020-11-10 16:07] curquiza opened #170 "Make the tests independent"
Currently, some tests depend on the previous ones, like in this file: https://github.com/meilisearch/meilisearch-python/blob/master/meilisearch/tests/index/test_index.py

We should re-write the test suite to make the tests independent from the others. This would make our test suite more readable, trustable, and maintainable.

[2020-11-16 00:14] kamyar commented on #170
I would like to give this issue a shot, is that ok? @curquiza

[2020-11-16 13:06] curquiza commented on #170
Hello @kamyar! It would be awesome!

[2020-11-23 10:08] kamyar commented on #170
@curquiza opened a PR, pinging here also in case you don't receive notifications already. :)
https://github.com/meilisearch/meilisearch-python/pull/178

[2020-11-23 10:17] curquiza commented on #170
Hello @kamyar! I've seen your PR, thanks for this huge work! @eskombro and I will review it as soon as possible 🙂

[2020-11-23 10:41] kamyar commented on #170
Great! 🎉
Thank you, looking forward to your comments. :)

[2020-12-02 09:57] #170 closed

[2020-12-14 10:21] #140 closed

[2020-12-29 17:18] #91 closed

[2020-12-29 20:42] eskombro commented on #133
Still up for this issue @rexdivakar ? :)

[2021-01-06 16:56] fharper opened #193 "Change master branch to main"
Let's be allies and make this change that means a lot.

Here is a [blog post](https://www.hanselman.com/blog/easily-rename-your-git-default-branch-from-master-to-main) that explain a little more why it's important, and how to easily do it. It will be a bit more complicated with automation, but we still should do it!

[2021-01-06 19:55] fharper opened #195 "Add 2021 to license year"
I'll create a GitHub action for next years.

[2021-01-07 01:53] sanders41 opened #196 "Python 3.9"
I have been using Python 3.9 without issue, and I just noticed that 3.9 is not listed as a supported version. I ran the test suite on 3.9 and all tests passed. Is it OK if I add 3.9 to the list of supported versions?

[2021-01-07 02:18] sanders41 opened #197 "Python versions in tests"
It is currently listed that Python versions 3.5 through 3.8 are supported however the tests, including CI tests, are only run against 3.7. It would be good to add the other versions to the CI tests and possibly add tox to be able to test all versions locally also.

[2021-01-12 13:21] curquiza commented on #197
Hello @sanders41! Totally agree!
Feel free to open a PR if you have time 😁

[2021-01-12 13:26] sanders41 commented on #197
@curquiza sounds good, I'll work on getting a PR ready.

[2021-01-12 13:32] curquiza commented on #196
Hello! That's good news!
Yes, we can definitely to the supported versions

[2021-01-12 13:36] sanders41 commented on #196
OK, the only change for this will be to add 3.9 to the setup.py file so unless you would like me to do them in separate PRs I will include it with the PR discussed in #197.

[2021-01-12 15:41] curquiza commented on #196
It's ok to include it in the same PR 🙂

[2021-01-13 01:37] sanders41 commented on #197
One thing I noticed while working on this PR is that the setup file says Python version 3.5 is supported, but there are places in the code where f strings are used (which only work in 3.6 and above). Because of that people that use version 3.5 will get errors. Would you rather remove support for 3.5 or change the f strings to a version supported in 3.5?

[2021-01-13 09:52] curquiza commented on #197
Hum, [python 3.5 is not maintained](https://www.python.org/downloads/release/python-3510/), so I think the best is to remove the support for 3.5. WDYT?

[2021-01-13 12:50] sanders41 commented on #197
I checked the pypi download stats for this package and 3.5 is rarely used so I agree it makes most sense to remove it. I'll do that.

[2021-01-27 17:13] #196 closed

[2021-01-27 17:13] #197 closed

[2021-02-10 18:30] #193 closed

[2021-02-13 01:35] sanders41 opened #212 "get_keys doc string incorrect"
I believe the doc string for the get_keys method in the Client is incorrect. It says a list of keys is return, but this should say a dictionary is returned correct? I will submit a PR to correct this. If I am understanding wrong and list is correct apologizes, and obviously ignore and close the PR in that case.

https://github.com/meilisearch/meilisearch-python/blob/628552573181c4d348489362e694d3d

[2021-02-14 17:11] curquiza commented on #212
Hello @sanders41! Glad to see you again 😁
You are right! It was a mistake! Thanks for your PR, I'm going to check it!

[2021-02-14 17:13] #212 closed

[2021-02-23 17:28] #195 closed

[2021-02-25 18:10] #133 closed

[2021-02-26 22:40] sanders41 opened #221 "Doc string return types wrong in some cases"
In some of the doc strings the return type is incorrectly listed. For example in both the [index update method](https://github.com/meilisearch/meilisearch-python/blob/ea00bdc94906a597d070d8cf397af78601cce1e4/meilisearch/index.py#L47) and [index fetch_info method](https://github.com/meilisearch/meilisearch-python/blob/ea00bdc94906a597d070d8cf397af78601cce1e4/meilisearch/index.py#L74) the return typ

[2021-02-27 04:47] sanders41 opened #222 "Strings throughout the project use different formats"
Throughout the project, sometimes strings are formatted with f strings and sometimes they are .format strings. For consistency it would be nice to pick one format. f strings are the more recent of the two, and I think they are more readable so that would be my vote if everyone agrees it would be good to pick one format to use throughout.

[2021-02-28 18:36] curquiza commented on #221
Hello @sanders41! Thanks for your issue, this is indeed an error, the returned type is an instance of `Index`.

[2021-02-28 18:40] curquiza commented on #222
Agreed!

[2021-02-28 19:31] sanders41 opened #224 "Adding documents with primary key not working"
When adding documents and including a primary key, the primary key is getting set to None instead of the specified key. For example:

[code]
results in `None` being printed. Maybe I'm just not correctly understanding how to use the primary_key? The correct url of `indexes/some-uid/documents?primaryKey=title` is being generated. so the [add_documents](https://github.com/meilisearch/meilisearch-pyth

[2021-02-28 21:14] sanders41 opened #225 "Testing isinstance"
There are several tests in the test suite that test if a value is an instance of `object`. In Python everything behind the scenes in an  object so these tests are always going to be True.  For example `isinstance('test', object)`, `isinstance(1, object)`, and `isinstance({"a": 1}, object` will all return True.

I am assuming the thinking for these tests was object in a javascript context since man

[2021-03-01 11:38] bidoubiwa commented on #225
Hey @sanders41, you are right. I think we might also have done it in a quick way to ensure it does not throw an error. But this should definitively be improved.

[2021-03-01 11:39] bidoubiwa commented on #224
Hey! Thanks a lot for pointing out this bug. This should be addressed asap.

[2021-03-01 12:23] sanders41 commented on #224
I still haven't figured out the route cause of the issue, but one thing I have noticed that may be helpful is if I use the first item in the dictionary as the primary key, which is the same one that will be the default if no primary key is specified, it works. So for example

[code]

will correctly print `id`.

[2021-03-01 16:54] eskombro commented on #225
Absolutely 👌🏽

[2021-03-01 16:57] eskombro commented on #222
Agreed! Thanks @sanders41 🎉

[2021-03-01 19:01] #225 closed

[2021-03-01 21:53] bidoubiwa commented on #224
Hey @sanders41

What is happening is
1. We create an Index instance
2. We add the documents and receive back an updated, primary key should be added here as a parameter of the instance but is not
3.  `index.get_primary_key()` does not make an HTTP call to MeiliSearch, it is getter for the instance parameter `primaryKey` which has not been added in step 2

The solution to this is to use `fetch_info

[2021-03-01 22:04] sanders41 commented on #224
Thanks for the update @bidoubiwa

Actually if you look at the `get_primary_key()` method the only thing it does is call `fetch_info()` and returns the value so calling `fetch_info()` by itself also would just call the same thing twice.

[code]

This actually brings up another point that confused me with `update_documents`. It takes `primary_key` as a parameter, but the primary key can't be updated

[2021-03-01 22:20] bidoubiwa commented on #224
Yes this should be removed!

Ah, you're right, I will take a closer look tomorrow :)

[2021-03-02 13:30] sanders41 opened #228 "Option to auto-start the Docker container for tests"
For my projects that use Python and Docker together I have created an autouse session scoped fixture to automatically start the Docker container if it isn't running. The way it work is it checks the expected port (port 7700 in this case) at startup and if the port is in use it assumes the container is already running so it does nothing. If nothing is running on the port it starts the container for

[2021-03-02 13:39] eskombro commented on #228
Hey @sanders41 that is a nice idea! Just to be sure about this: if I have a running container at 7700 then the tests will run on this container? You said " it assumes the container is already running so it does nothing", does this mean "it doesn't create a new container but still run the tests"? Or "It doesn't even run the tests"?

[2021-03-02 13:45] sanders41 commented on #228
Correct, the only thing the fixture does is start the container if needed, it doesn't change any other part of the test and they still run just as they do now if a container is started before the tests are run.

If you like I already have the fixture created in other projects so it would only take a second to add it to this one. I could open a PR so you can see what I mean, and it would be no real

[2021-03-02 14:43] eskombro commented on #228
Ok in that case it would be great to see, IMO it seems like a great addition! 🎉

[2021-03-04 10:51] benhowes opened #231 "Setting timeouts"
Hi!

Looking at the code, I cannot see a way to expose timeouts. I need this because my app became unresponsive when meilisearch was unavailable.

A nice pattern for achieving this is to be able to pass in a `requests.Session` when creating the client, which means you can expose all of the requests goodness with minimal work.

[2021-03-04 13:56] sanders41 commented on #231
I suspect this would also allow a significant speed up in running the tests because the test for a communication error could be set with a low timeout. Currently that tests hangs for a long time while it tries to connect.

[2021-03-04 14:09] bidoubiwa commented on #231
It is indeed a good idea to add a timeout option!

[2021-03-08 19:48] curquiza commented on #224
`update_documents` can accept a primary key because this method corresponds to the [route "Add or update documents"](https://docs.meilisearch.com/reference/api/documents.html#add-or-update-documents) where you can also add documents
The definition of this route is indeed:
"Add a list of documents or update them if they already exist. If the provided index does not exist, it will be created."
The "

[2021-03-08 20:02] sanders41 commented on #224
I have noticed that even on new documents and new index the primary key sometimes fails. It seems like it will accept some fields and not others. I think this is the big source of confusion I have. I can't figure out why sometimes I can add a primary key on a new document/new index and sometimes I can't.

[2021-03-08 20:06] curquiza commented on #224
In this case this is a bug, because you should be able to add a primary with the "add or update documents" route, if the primary key is in the right format. If it's not, can you open an issue on the MeiliSearch repository with your detailed steps and the dataset you use? It would be really useful for us 🙂

More about the primary key in our docs -> https://docs.meilisearch.com/learn/core_concepts/d

[2021-03-09 00:45] sanders41 commented on #224
I have done a bit more testing and I have found that the issue seems to be with either spaces or certain characters in the primary key.

With this:

[code]

id can be set as primary key, but title will fail. Title fails both if there is a ! and a space. So to get title to work it needs to be:

[code]

The following will also work so it is not all special characters:

[code]

Do you think this woul

[2021-03-09 08:09] bidoubiwa commented on #224
Is it possible that it does not follow the document id caracters?

https://docs.meilisearch.com/learn/core_concepts/documents.html#primary-field

[2021-03-09 10:49] sanders41 commented on #224
Ok, it took me long enough but I’m with you now 😄 . I thought the Document ID was it’s own section and didn’t realize it applied to the primary key.

[2021-03-09 10:49] #224 closed

[2021-03-10 12:46] #221 closed

[2021-03-12 12:57] sanders41 commented on #222
Technically this issue is closed with PR #233, but @bidoubiwa has a good idea here https://github.com/meilisearch/meilisearch-python/pull/233#pullrequestreview-608555725. Would it be better to leave this open to track this, or open a new issue with her idea?

[2021-03-12 16:42] bidoubiwa commented on #222
Hey @sanders41
This PR should be closed as we achieved consistency in string format. Thanks again btw!
It is a good idea to open a new issue on the readability of our strings.

fixed by: #233

[2021-03-12 16:42] #222 closed

[2021-03-20 17:06] #231 closed

[2021-03-20 18:00] bidoubiwa opened #236 "Timeout implementation introduced undefined tests outcome"
The test introduced in #232 randomly fails

[code]

We should find a solution before releasing the feature.

Example: https://github.com/meilisearch/meilisearch-python/runs/2156347973

[2021-03-20 19:11] bidoubiwa opened #238 "Should find a way to test timeout"
This will probably be possible once we refactor the code and make mocking possible.
Meanwhile, if another solution exist we would like to have a test that guarantees a timeout error in order to test if the right error is raised

[code]

[2021-03-20 20:31] sanders41 commented on #238
One way to do this with mocking now would be to patch `requests` to return a timeout. If you want me to open a PR with this so you can review it let me know and I'll do that.

[2021-03-20 21:34] bidoubiwa commented on #238
Great idea! I would love to see how you do that

[2021-03-20 22:48] #238 closed

[2021-03-20 22:48] bidoubiwa commented on #236
Fixed by: #239

[2021-03-20 22:49] #236 closed

[2021-05-04 02:30] sanders41 opened #253 "Test test_is_healthy_bad_route hangs"
I noticed that the `test_is_healthy_bad_route` test can hang the test suite for several minutes while it waits for the request to time out. There is nothing wrong with the test itself, the issue is `requests` takes a long time to timeout.

The hanging issue in this test can be solved by either setting the `timeout` to 1 (or some other low number) in the client or by patching requests to return the

[2021-05-04 07:58] bidoubiwa commented on #253
Oh interesting. I'm wondering if we should
1.  Set de timeout for this specific function to low
2. Give de timeout as a function parameter and a low default vallue
3. Leave de source code as it is but change the timeout in the test
4. ..?

[2021-05-04 12:05] sanders41 commented on #253
The patched version would look like:

[code]

and the timeout version would be:

[code]

The end result in this test would be the same so I don't have a big preference for one over the other. I would probably choose the timeout just because it is less lines of code.

[2021-05-04 14:00] bidoubiwa commented on #253
I agree the second one is better.
I misunderstood your first message. I thought you asked if the behavior of `is_healthy` should have. Or if it should respond directly if it is healthy or not. But maybe this deserves its own issue!

So yes! Thanks a lot :) The second suggestion is the best.

[2021-05-04 18:15] #253 closed

[2021-05-08 12:08] sanders41 opened #258 "get_index doesn't return the expected information"
The `get_index` method in the `Client` returns an `Index` instance, however according to the [documentation](https://docs.meilisearch.com/reference/api/indexes.html#get-one-index) it should return a dictionary with the index information. In theory you could get this same information out of the `Index` instance, however it does not include the `createdAt` and `updatedAt` values.

[code]

according

[2021-05-09 13:54] bidoubiwa commented on #258
Thanks a lot for the investigation. I agree with you that we lose information between MeiliSearch and the users with the SDK.
I agree a lot with the solution to add all information in the __init__ of `Index`.
Nonetheless we might also want to provide a way to retrieve the raw returned by MeiliSearch in a dict instead of in the index instance.

So, if @curquiza and @alallema agree

I would advocate

[2021-05-09 14:29] sanders41 commented on #258
I think this is because the update is to update the primary key and you would want that update to be reflected in the instance. If `created_at` and `updated_at` are added to the class then all the expected information would be available so it seems to make sense to keep this one returning the instance.

[2021-05-09 19:10] sanders41 commented on #258
To follow up on my previous comment...in most cases getting an `Index` back from `get_index` is probably what is wanted so the index can be further worked with.

[code]

Where I think things could get confusing to an end user is `get_indexes` returns `list[dict]` instead of `list[Index]`. So now if you try the same thing you will get an error.

[code]

and instead you have to create an index from

[2021-05-10 17:47] curquiza commented on #258
Hello @sanders41!

This is easier to work with instance than dictionary, no need to create instance to manipule it after fetching the index.

However
- the `get_indexes` does not return a list of `Index`, but a list of dict, this could be improved 🙂 Another issue might be needed!
- there is already the `$client->index('movies')->fetchRawInfo()` method to get the raw index, [see the docs](https://d

[2021-05-10 18:15] sanders41 commented on #258
This one isn't available in the python client. The documentation says to use `get_index` here which returns the instance and doesn't contain all the information. Seems like the consensus is leaning towards adding `createdAt` and `updatedAt` to the Instance class so it might not be as important to also have it as a dictionary at that point.

I agree with you that the instance is easier to work with

[2021-05-10 18:34] curquiza commented on #258
You're right, my bad, I miss checked! 😇

[2021-05-15 01:39] sanders41 commented on #258
@curquiza I have an update that would close this issue and the Python parts of https://github.com/meilisearch/integration-guides/issues/120, https://github.com/meilisearch/integration-guides/issues/121, and https://github.com/meilisearch/integration-guides/issues/122, but have a question on how the new/updated methods fit into the [code sample file](https://github.com/meilisearch/meilisearch-pytho

[2021-05-24 07:56] bidoubiwa commented on #258
hey @sanders41
There is no need in creating new code-samples as they are linked to a specific spot in the documentation. Until we specifically need to showcase how to fetch the raw content of an index we don't need to update this file.

[2021-05-24 10:58] curquiza commented on #258
As @bidoubiwa said, no need to add  `list_all_indexes_2` and `get_one_index_2` in the docs
For the moment, we need to add a wiki to show all the methods we expose that are not in the official docs.

[2021-05-27 10:37] #258 closed

[2021-05-29 02:22] sanders41 opened #264 "Type Hints and MyPy"
Would there be any interest in adding [type hints](https://docs.python.org/3/library/typing.html) to this project and also [mypy](https://github.com/python/mypy) for static type checking? I find it nice both as a developer and as an end user to work with packages that have type hints because code editors such as VS Code and PyCharm understand them and will show the expected types. In addition it a

[2021-06-01 08:20] bidoubiwa commented on #264
I'm all for types. They are really great for both what you said, type hinting in IDE's and preventing problems before they happen. Except adding types directly into the code like this:

[code]

Is there something else we have to do?

[2021-06-01 11:34] sanders41 commented on #264
There are a few extra steps. You need to add `py.typed` file, it's just an empty file, and include that in the `setup.py`. This file lets editors and other packages know that types are available.

The other thing would be adding mypy as a dev dependency. Then mypy can be run both locally and in CI for static type checking. After adding mypy there would be some refactoring needed because I know the

[2021-06-01 17:21] bidoubiwa commented on #264
Very interesting. It would be a great addition!

[2021-06-04 12:00] #264 closed

[2021-06-09 15:51] sanders41 opened #271 "MyPy dependabot failure"
MyPy made a change in v0.901 where type stubs for packages need to be installed explicitly and that is what is causing  #270 to fail the mypy check. I'll do a PR shortly to make things work with the mypy changes.

[2021-06-10 08:47] #271 closed

[2021-07-13 17:36] Karol-96 opened #282 "Connection Refused While implementing with fast api."
index.add_documents(try1)
  File "/usr/local/Cellar/python@3.9/3.9.5/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/meilisearch/index.py", line 354, in add_documents
    return self.http.post(url, documents)
  File "/usr/local/Cellar/python@3.9/3.9.5/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/meilisearch/_httprequests.py", line 50, in post
    return

[2021-07-13 18:05] sanders41 commented on #282
Is the problem only when you add documents? Can you post how you created your client?

[2021-07-13 18:30] Karol-96 commented on #282
yes  @sanders41 it shows error when I try to add documents.

client = meilisearch.Client('http://127.0.0.1:7700','masterkey')

json_file_path = "data.json"

with open(json_file_path, 'r') as j:
    try1 = json.loads(j.read())
index = client.index('try1')
index.add_documents(try1)

[2021-07-13 18:36] sanders41 commented on #282
See if this makes a difference.

[code]

[2021-07-13 18:43] Karol-96 commented on #282
Thank you very much but still im having same issue.
raise MeiliSearchCommunicationError(str(err)) from err
meilisearch.errors.MeiliSearchCommunicationError: MeiliSearchCommunicationError, HTTPConnectionPool(host='127.0.0.1', port=7700): Max retries exceeded with url: /indexes/try1/documents (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x103a195b0>: Failed to establis

[2021-07-13 18:44] sanders41 commented on #282
I just noticed you are using the meilisearch-fastapi package. With that you don't need the meilisearch-python package. There are pre-built routes, including one to add documents. You need the documents routes specifically for adding documents. I'm on my phone right now but can give an example in a little while if you don't get it figured out before.

[2021-07-13 19:01] Karol-96 commented on #282
Thank you so much sir. I tried but it didn't made any differnce. im new into this. it would be really helpful if you broke it down for me please when you are free. @sanders41

[2021-07-14 00:10] sanders41 commented on #282
It looks like you are running on your local computer right now for testing so this example will assume that. If that is not correct you will need to change the `http://localhost` parts with whatever your url is. In this example the master key will be set to `masterKey` so change this with whatever you are using for your key.

Specific to your question about uploading the json file, because you are

[2021-07-26 12:44] curquiza commented on #282
Is this issue solve @Karol-96?

Thanks @sanders41 for your help :)

[2021-07-30 07:45] Karol-96 commented on #282
@curquiza yes I got the basic idea but what if I have multiple fields in document like : id, name, price, user interaction data ,alotogether 6 fields. so that I could perform custom ranking offered by MeiliSearch using fast api?

[2021-07-30 07:46] Karol-96 commented on #282
@sanders41  Thank you so much sir for your help. Really appreciated 💯

[2021-07-30 12:03] sanders41 commented on #282
@Karol-96 there is an `indexes/searchable-attributes` route you can use for this. With the same setup as above, and again using curl as an example (I just made up the order, obviously you can change it to whatever you want).

[code]

[2021-08-04 01:18] sanders41 opened #301 "Python 3.10"
This is mostly just an FYI that the release date for Python 3.10 is 04-Oct-2021. I've been running the tests with the betas and everything has been passing without issue. The GitHub Actions Python installer has an option to check for the latest 3.10 build (currently RC1) and add it to the matrix so it could be added to the CI tests now if you want.

Also EOL for 3.6 is Dec-2021 (exact day not spec

[2021-08-04 07:34] alallema commented on #301
Hi @sanders41!
You have a good point I think it's a really good idea to add it to the CI. Thank you to notifying us.

[2021-08-10 03:15] elonzh opened #305 "Converting `MeiliSearchApiError` to a string will raise AttributeError when the server returns a timeout error."
**Description**

Converting `MeiliSearchApiError` to a string will raise AttributeError when the server returns a timeout error.

**Screenshots or Logs**

![image](https://user-images.githubusercontent.com/8749411/128802380-47e43ba1-514d-4a8b-bfd1-a2edd7006cd3.png)

**Environment (please complete the following information):**
 - OS: Ubuntu 20.04
 - MeiliSearch version: 0.20.0
 - meilisearch-python

[2021-08-10 13:11] alallema commented on #305
Hi @elonzh,
Thanks for the report. Meilisearch should not return a `408` status code, it could return `400`, `401`, `404`, `405`, and `500`.
The Python SDK should not return a `MeiliSearchApiError` for a response status code between 400 and 500. I understand that there is an error and a fault on our side, but I do not see how to fix it there.
I try to send a `408` to the python SDK and I didn't pa

[2021-08-10 13:13] sanders41 commented on #305
@alallema I have an idea that I think will fix the issue. Hopefully I'll have something ready soon for you to review.

[2021-08-10 16:56] #305 closed

[2021-08-24 16:14] sanders41 opened #316 "v0.16.0 not published to pypi"
I went to update the client on one of my projects and no updates were found so I checked pypi and the current version is still 0.15.1.

Looking here the issue is the version 0.16.0 publish failed, then the fix was put in the 0.16.1 tag by meili-bot which has not been released (makes sense that it did this). There are a couple options to release it now. 0.16.1 could be released, this would however

[2021-08-24 16:41] curquiza commented on #316
Fixed! thanks @sanders41!!
https://github.com/meilisearch/meilisearch-python/actions/runs/1163412681

[2021-08-24 16:41] #316 closed

[2021-08-29 04:00] dfloer opened #317 "Adding Documents Without a Primary Key Silently Fails"
**Description**
I'm trying to add a bird taxonomy to Meilisearch. When I add documents without a primary key, they fail to be added with no indication as to why. Per the [docs](https://docs.meilisearch.com/learn/core_concepts/documents.html#meilisearch-guesses-your-primary-key) a primary key is required, except in the case where a key can be inferred by having `id` (case insensitive) in one of the

[2021-08-29 11:19] sanders41 commented on #317
There are a couple things happening here ultimately causing what you are seeing. First, they way MeiliSearch infers the primary key is it looks for the first field that has the string `id` in it. For example it would infer the primary key if you had a filed name `id`, `bird_id`, or something like this with the string `id` in the name. Because none of your fields has the string `id` MeiliSearch is

[2021-08-29 12:51] dfloer commented on #317
Thanks, I did figure out what was going on.

The problem is that there isn't any error indicating that the documents don't make it into Meilisearch, and this silent failure is non-obvious behaviour. It'd be useful to provide a warning to the user that this is the case, or an error indicating that the data wasn't ingested.

[2021-08-29 18:10] sanders41 commented on #317
I did some more digging and MeiliSearch does return the error in the status, but this is seen when checking the status not when adding the documents. `index.get_all_status()` will result in the following being returned:

[code]

This error is not seen by the client because of the asynchronous nature of the API. At the time of adding the client doesn't know the status, it has to be checked with one

[2021-08-30 13:23] dfloer commented on #317
Would it make sense to do something like this kinda check in `index.add_documents()`?
[code]
(I didn't actually check to see if that worked, mostly meant as an illustrative example.)

[2021-08-30 13:28] curquiza commented on #317
Hello @dfloer and @sanders41!

Thanks sanders for helping on this issue 🙂

Indeed, MeiliSearch tasks related to document insertions are asynchronous. More about the asynchronous tasks of MeilISearch: https://docs.meilisearch.com/learn/advanced/asynchronous_updates.html#asynchronous-updates
It means you can have information about the error in the update status via these routes: https://docs.meilise

[2021-09-28 09:30] curquiza commented on #282
Closing due to lack of answer, feel free to re-open if needed of course 🙂

[2021-09-28 09:30] #282 closed

[2021-09-28 09:31] curquiza commented on #317
Seems to be solve, feel free to re-open if needed 🙂

[2021-09-28 09:31] #317 closed

[2021-10-06 13:17] curquiza opened #332 "Change `books` to `movies` in README.md"
To keep the getting started simple to try, but to also make [documentation](https://docs.meilisearch.com) examples compatible with the getting started, we are replacing `book` examples with `movies` examples.

The Movie dataset is used throughout the documentation. The only place where book is used is in the tests (which can stay as it is) and in our getting started.

### Changes

- [ ] Index name

[2021-10-06 14:21] curquiza opened #334 "Test `filter` in search method with a value containing spaces"
Add a test to check the `filter` parameter can work with values containing spaces

Example:
[code]

Related to https://github.com/meilisearch/integration-guides/issues/30

[2021-10-07 14:00] curquiza opened #336 "Fix README"
The PR #333 helped us fix this issue #332 but introduced some mistakes
- line 96: `mda max` is used as a query example. However the typo tolerance does not work for words containing less than 4 letters, so it's not true to use this example -> nothing would be returned. We should use `carlo` query query instead and adapt the following example
- line 120: the `Phil` query is used. I would rather `ph

[2021-10-07 16:23] #336 closed, assigned to nobody

[2021-10-07 21:19] alallema opened #338 "Add `'` around the parameters in README"
The `'` are missing around parameters in document lines 78-80.

[2021-10-11 17:36] #338 closed, assigned to nobody

[2021-10-11 17:37] mk1107 commented on #338
are there any rewards on this repo??

[2021-10-14 02:59] jrinder42 opened #342 "Windows issue with running setup.py - long description"
**Description**
Creating the long description breaks in the setup.py script while running tox in a Windows OS (specifically Windows 10).

**Expected behavior**
Does not throw decoding error and continues on to the rest of the setup.py script / moves on to the rest of the tox file.

**Current behavior**
Crashes while running the setup.py script due to an encoding issue.

**Screenshots or Logs**
Aft

[2021-10-14 13:33] #342 closed, assigned to nobody

[2021-10-18 23:58] sanders41 opened #345 "Wrong type for update parameter"
The `**body` parameter in the `Index` `update` has the wrong type which makes it impossible to use when sending a primary key without getting a MyPy error. This is my fault, because when I was adding types I didn't notice `body` was a `**kwargs`. The only value that gets used from this parameter is `primaryKey`, all other values get ignored. So the current usage is (which results in MyPy error):

[2021-10-19 11:46] #345 closed, assigned to nobody

[2021-10-19 13:28] curquiza opened #347 "NDJSON/CSV methods to add and update documents"
⚠️ This issue is generated, it means the nameing might be done differently in this package (ex: `add_documents_json` instead of `addDocumentsJson`). Keep the already existing way of naming in this package to stay idiomatic with the language and this repository.

📣 We strongly recommend doing multiple PRs to solve all the points of this issue

[MeiliSearch v0.23.0](https://github.com/meilisearch/Me

[2021-10-19 16:07] curquiza opened #349 "Add a search example with `filter` in README"
⚠️ This issue is generated, please adapt the example to the repository language.

Related to: https://github.com/meilisearch/integration-guides/issues/136

In the README, we want to add the `Custom Search With Filters` sub section in the `Getting Started` section to make the users are aware of filtering.

This should
- be placed right after the `Custom Search` sub section
- contain the following c

[2021-10-20 16:12] Sukriti-sood commented on #349
@curquiza Can I work on this issue?

[2021-10-20 16:27] curquiza opened #350 "Update .code-samples.meilisearch.yaml"
Following https://github.com/meilisearch/documentation/pull/1214, we would like to apply some changes in the `.code-samples.meilisearch.yaml` file at the root of the repository

- Regarding `get_distinct_attribute_1`, `update_distinct_attribute_1` and `reset_distinct_attribute_1`: if present, the index name should be `shoes`
- Regarding `update_distinct_attribute_1`: the distinct attribute passed

[2021-10-20 16:55] #350 closed, assigned to nobody

[2021-10-21 14:58] #349 closed, assigned to nobody

[2021-10-30 18:43] curquiza opened #354 "Add `type` to error handler"
The MeiliSearch server, when raising an error, returns the following JSON:
[code]

The error handler in this package returns `code`, `message` and `link` but does not return `type`.

[2021-11-22 14:13] MkFair opened #361 "Getting the number of records"
Tell me how to get the number of records for a phrase?

[2021-11-22 14:49] alallema commented on #361
Hi @MkFair,
Thanks for raising this issue, can you be more specific? I'm not sure to understand what you mean exactly.

[2021-11-22 16:05] MkFair commented on #361
For example, for pagination, count at least the approximate number of records on request, without the records themselves
for example something like that  - index.count('caorl')

[2021-11-22 17:07] alallema commented on #361
Yes, it's the `nbHits` value you are looking for, but like I said it is an approximate value.
You can retrieve it in the search response.

[2021-11-23 12:43] MkFair commented on #361
Thanks

[2021-11-23 12:43] #361 closed

[2021-11-23 14:53] MkFair opened #362 "Create new records"
I create document in circle and write to meili
 index.add_documents(data)
` data = {"text":"Unique text news"}`
every loop step.
After add documents loop, I get info by index
index.get_stats()
result
{"numberOfDocuments": 1, "isIndexing": true, "fieldDistribution": {"id": 1, "link_id": 1, "text": 1, "type": 1, "uid": 1}}
Why are new records not being added?

[2021-11-23 16:52] bidoubiwa opened #363 "Update .code-samples.meilisearch.yaml"
Related to https://github.com/meilisearch/integration-guides/issues/155

Following the documentation issue (https://github.com/meilisearch/documentation/issues/1290) and PR (https://github.com/meilisearch/documentation/pull/1214) an additional code-sample must be added in the .code-samples.meilisearch.yaml file at the root of the repository.

### Information:

Using the following information the c

[2021-11-24 09:21] alallema commented on #362
Hi @MkFair,
A primary key is mandatory in every document maybe it's why. I let you check the documentation about [document](https://docs.meilisearch.com/learn/core_concepts/documents.html). Also, you will always be welcome if you want to open an issue for a bug report a feature request, or even for a discussion about Meilisearch but if you have some questions about the use that is normal, I invite

[2021-11-25 06:18] MkFair commented on #362
`for data in datalist:
    res = index.add_documents(data)
   print(index.get_update_status(res["updateId"]))
   data = index.wait_for_pending_update(res["updateId"])
   print(json.dumps(index.get_update_status(data["updateId"]))) `
first update status
{"status": "processed", "updateId": 5765, "type": {"name": "DocumentsAddition", "number": 1}, "duration": 0.022, "enqueuedAt": "2021-11-25T06:12:01

[2021-11-29 09:16] #363 closed

[2021-12-05 01:16] sanders41 opened #367 "Wheel includes tests"
Currently when the wheel is built it includes all the tests resulting in a 476K package when installed. Maybe I'm missing a scenario, but I can't think of a time a user would ever need the tests included with the package. Removing the tests from the wheel reduces the size to 152K resulting in a 68% smaller package.

[2021-12-06 08:50] #367 closed

[2021-12-09 15:44] alallema commented on #362
Hi @MkFair,
As I explained above, this may be due to the fact that all your documents have the same id or it may be that you have to wait for the end of the indexing. But questions about how Meilisearch works will be much better answered on the slack community: meilicommunity.slack.com, I'm sure they will answer them better.
I close this issue which is not related to a problem on the repo.

[2021-12-09 15:44] #362 closed

[2021-12-16 06:47] ms7m opened #374 "KeyError is raised after creating an index."
**Description**
After creating an index, a ``KeyError`` is raised (indicated in logs).. This **does not affect** the creation of the index, and I can see my index created despite the error.

**Expected behavior**
``Index`` object returned.

**Current behavior**
``Index`` is not returned, due to ``KeyError`` being raised. The behavior is the same even if you supply a custom primary key.

**Screensh

[2021-12-16 08:12] alallema commented on #374
Hi @ms7m,
The last version of `meili search-python` v0.17.0 is compatible with the v0.24.0 of `MeiliSearch`.
The v0.25.0 is still a release candidate for now, and has many breaking changes that's why it doesn't work with the v0.17.0 of this SDK.

[2021-12-16 18:19] ms7m commented on #374
Thanks @alallema!

I didn't realize on my end that 0.25.0 is still considered a RC..

I'll close this out!

[2021-12-16 18:19] #374 closed

[2021-12-21 13:30] alallema commented on #374
Hi @ms7m,
Sorry to bother you but how did you manage to get v0.25.0? It is just to be sure that we have not left anything that would allow the user to download it and be blocked.
Thanks a lot

[2021-12-23 14:15] sanders41 opened #378 "Python 3.6 EOL"
Python 3.6 reached end of life today so it will not receive any more updates, including security updates. Just an FYI in case you want to drop support for it.

[2021-12-23 14:23] alallema commented on #378
Thanks, @sanders41 good to know! We actually stop the support on the versions as soon as the security updates are stopped.

[2021-12-23 15:00] sanders41 commented on #378
A few notes for whoever makes the updates. When 3.6 is removed from the CI file, Python 3.10 is no longer beta so that one could be updated also, changing it from `'3.10.0-beta - 3.10.0'` to `'3.10'`. The quotes are important because otherwise yaml will drop the trailing 0 and use `3.1`. If I remember correction there are also some updates needed for bors.

@alallema on your end after the first CI

[2021-12-24 02:28] haoyun commented on #100
Are there any news about Async/await support?

[2021-12-24 02:43] sanders41 commented on #100
There is no async support in this client. For async support you can use this client instead https://github.com/sanders41/meilisearch-python-async. Full disclosure, I am the maintainer of the async client. I am not promoting it's use over this client (I still use this one myself when not using async), just trying to answer the question about async.

[2021-12-29 09:34] alallema commented on #100
Hi @haoyun,
As Sanders said there is indeed no asynchronous support for this client. Using his async client should be a good solution for you if you need async/await support 😉.

[2021-12-31 23:16] sanders41 opened #383 "Pyright Client is not exported error"
**Description**
By default pyright considers imports to be private, using a redundant export makes them public. With this the `Client` shows an error when it is imported.

**Expected behavior**
No error when importing `Client`

**Current behavior**
Pyright shows an error when importing `Client`.

**Screenshots or Logs**

![Screenshot from 2021-12-31 17-35-48](https://user-images.githubusercontent.

[2022-01-03 08:22] #383 closed

[2022-01-08 02:55] sanders41 opened #389 "MeiliSearchApiError and MeiliSearchError contain a double periods in message"
**Description**
When printing a `MeiliSearchApiError` or `MeiliSearchError` the python code contains a period in the message, but MeiliSearch is also returning a period causing a double period.

**Expected behavior**
Single period in the message.

**Current behavior**
Double period in the message

**Screenshots or Logs**
![Screenshot from 2022-01-07 21-32-47](https://user-images.githubusercontent.

[2022-01-08 17:39] Sanix-Darker opened #391 "factorisation of the format method in index.py"
# What
A small function (format_extras) to factorize instructions for setting primarykey, updatedAt and createdAt attributes... inside `update` function (https://github.com/meilisearch/meilisearch-python/blob/main/meilisearch/index.py#L77) and inside `fetch_info` (https://github.com/meilisearch/meilisearch-python/blob/main/meilisearch/index.py#L97)

# Why
To centralize this process, so that in the

[2022-01-08 18:03] Sanix-Darker opened #393 "optimization: with an in memory cache decorator"
**Description**
A small "in memory" cache system as a decorator (not talking about lru_cache and its cousins...), talking about a customizable cache with a TTL...

**Basic example**
Inside the class

[code]

This approach could be useful if we want to prevent the meilisearch to get hit with the same parameters each time in a short delay (i faced that issue btw)...

**Other**
Any other things you w

[2022-01-08 19:07] sanders41 commented on #393
I have thought about lru_cache for some of these, but have not suggested it because I was worried about stale cache hits. If I am looking at your proposal correctly it looks it would only hit the cache with rapid requests (1 second by default) and solve for the problem I was worried about?

If the team decides to implement it I would suggest also using functools wraps.

[code]

[2022-01-08 19:31] Sanix-Darker commented on #393
Yes, IMO, the dev using the lib in a project can adapt that `cache_ttl` value depending on the need

Ok ok, keep me update if possible then, i will be happy to implement that... :-)

[2022-01-08 19:35] sanders41 commented on #393
Seems reasonable to me.

I'm just a contributor not a maintainer so it won't be my call, just giving my thoughts as a contributor :smile:

[2022-01-09 13:04] sanders41 commented on #393
@Sanix-Darker our conversation got me thinking. What do you think about instead of a TTL cache using an LRU cache that gets cleared on update, insert, delete of the corresponding attribute? I'm thinking this give increased performance because it would always hit a cache if no changes have been made, and also solve for the stale cache problem. Something like:

[code]

[2022-01-09 13:27] Sanix-Darker commented on #393
Mhhhh, the custom TTL cache up there is a kind of `lru_cache` with a lifetime for each values in the dictionary, and if you look at the source code of the [lru_cache](https://github.com/python/cpython/blob/main/Lib/functools.py#L479), it's also a dictionnary based cache system...

IMHO, i think it will be better to implement a ttl cache here and it will be nice that we customize it as much as poss

[2022-01-09 13:37] sanders41 commented on #393
Agreed, either option would work.

[2022-01-10 07:55] #389 closed

[2022-01-10 08:57] #354 closed

[2022-01-12 11:55] Iliyass opened #397 "MeiliSearchApiError. Error code: missing_authorization_header using it with Meilisearch v0.25.0"
Latest published release of this wrapper is v0.17.0 and it's not compatible with v0.25.0

It throws Missing Authroization Header
[code]

When you will deploy the compatible version with v0.25.0.

Thanks.

[2022-01-12 12:39] alallema commented on #397
Hi @Iliyass,
Indeed the version of MeiliSearch v0.25.0 was released yesterday and the python SDK should be updated today.
In the meantime, the current version of this SDK is compatible with the v0.24.0 of MeiliSearch.
Sorry for the inconvenience.

[2022-01-12 12:45] #397 closed

[2022-01-12 12:53] alallema commented on #397
It's released! 🎉
https://github.com/meilisearch/meilisearch-python/releases/tag/v0.18.0

[2022-01-15 13:13] sanders41 commented on #393
I did some testing and lru_cache is going to be more complicated to implement here than benefits it would bring.

For the TTL cache the `@self.cache` causes an error because `self` isn't available at that point so the cache decorator would need to be changed to a static method. It seems like a weird hybrid of a static method and instance method so I'm not sure if it has any unintended consequences

[2022-01-18 11:56] alallema commented on #393
Hi @Sanix-Darker,
Thank you so much for your interest and your proposition. I am sorry for the delay in answer.
Yes it seems to be a great idea but I have a couple of questions about it:
- What is the impact for the "default meilisearch user", i.e. the user who only defines the URL and the master key and that's it. Does he have to configure anything else if he has a large data set for example?

-

[2022-01-18 20:22] Sanix-Darker commented on #393
Thanks for this benchmark @sanders41 and for the update with the `@static_method`, the code i provided can be tweak and optimized even more :-), so that the cache get activated depending on the size of the output data from functions... in a way, for some specifics incoming args, because we got small size in outputs, we can still hit meilisearch for next calls... and we activate the cache when the

[2022-01-18 20:22] Sanix-Darker commented on #393
Hi @alallema , don't worry for the delay :-).

The only thing am seeing here is to add some properties for the cache :
[code]

Absolutely agreed... we could also allow the dev to choose where he want to activate it !

Also agreed :-)

[2022-01-25 16:07] alallema commented on #391
See #392

[2022-01-25 16:07] #391 closed

[2022-02-03 16:03] alallema commented on #393
Hi @Sanix-Darker,
I love the idea!

It would be so great if you still want to do it 🤩  Thanks again

[2022-03-07 16:56] icnahom opened #414 "Support for asyncio in the official Python SDK"
**Description**
A way to have an asynchronous friendly (non-blocking) Python APIs.

**Basic example**
Can be used with other async enabled web server/framework like Sanic or FastAPI.

**Other**
The way Elasticsearch built their python client is described [here](https://www.youtube.com/watch?v=UWR9G-U88X0&t=631s&ab_channel=OfficialElasticCommunity). They are using libraries like aiohttp, and unasyn

[2022-03-07 16:58] icnahom commented on #414
https://github.com/ziyoubaba/aiomeilisearch this one looks good, but it would be great if we can have up-to-date support in the official python client.

[2022-03-07 17:30] sanders41 commented on #414
It's not part of this sdk like you are asking, but I maintain an async Python client here https://github.com/sanders41/meilisearch-python-async that is up-to-date with the latest release of Meilisearch.

[2022-03-07 17:46] icnahom commented on #414
@sanders41 Nice! May I ask why it's not part of this sdk?

[2022-03-07 19:00] sanders41 commented on #414
I am a contributor to this SDK, but not a Meilisearch employee so I'll answer with that in mind. @alallema and @brunoocasali feel free to correct anything I get wrong.

This SDK was built from the ground up as a synchronous client, so adding async support would be a big re-write. Then trying to support both async and sync in the same client would make that re-write and future maintenance more diff

[2022-03-20 15:56] Luzkan opened #423 "[Docs] [Minor] Tweak `get_` & `delete_document` method signature to take both type `int` or `str`"
### Description

[**Documents** Documentation Page (#_get-one-document_)](https://docs.meilisearch.com/reference/api/documents.html#get-one-document) suggests using `int`, while the current implementation requires `str`. Same with `delete_document` and `delete_documents`.

### Solution

Adjust the method signature parameter or documentation.

Currently, the `str` type is required in (according to

[2022-03-21 03:26] sanders41 commented on #423
I believe `str` is the correct type for the id, I don't think only `int`s are allowed. From the docs "The document id must contain only A-Z a-z 0-9 and -_ characters.", so I think it is the examples in the docs that need updating. That can be done by updating the examples in the [code-samples.meilisearch.yaml file](https://github.com/meilisearch/meilisearch-python/blob/main/.code-samples.meilisear

[2022-03-21 09:31] alallema commented on #423
Hi @Luzkan,
Thank you for raising this issue, but @sanders41 is right. An id can contain `A-Z a-z 0-9 ` so it's normally a string and is passed through the URL. If you check closely, most SDKs take both `str` and `int` for ease of use but Sander's point about the code examples is interesting and I'll talk to the @meilisearch/integration-team to see if the examples should all be passed as strings.

[2022-03-21 10:02] sanders41 commented on #423
@alallema I didn’t consider taking both options. Since it works both ways maybe updating the type to take both would be an option. Then there would be no need for the user to convert an `int` to a `str` to prevent a type error. It gets converted to a string in the methods when putting it into the URL already so it would be one less step for the end user.

The exception would be if there is anywher

[2022-03-21 11:27] bidoubiwa commented on #423
(Hey @Luzkan, completely unrelated but what are you using as a tool to darken your views?)

[2022-03-21 11:46] Luzkan commented on #423
@bidoubiwa 😸

I'm doing it with this combo: **`win + shift +s`** -> **_crop_** -> [**onpaste.com**](https://onpaste.com/) -> `**ctrl + v**` -> _**highlight**_ -> _**save**_ / **`win + shift + s`**.

[2022-03-21 11:54] alallema commented on #423
Yes, I really like the idea of adding the possibility to take both types, it would be the best option for me and I don't see any place where it could be a problem either.

[2022-03-21 15:38] brunoocasali opened #426 "Update .code-samples.meilisearch.yaml"
⚠️ This issue is generated. It means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/i

[2022-04-25 19:30] bidoubiwa opened #449 "Add more precise typing"
See this [thread](https://github.com/meilisearch/meilisearch-python/pull/443#discussion_r857491258) for context:

To enjoy the advantages of types, we should consider adding more complex types to this repo.

As per the [thread](https://github.com/meilisearch/meilisearch-python/pull/443#discussion_r857491258)

@brunoocasali  asking if it is breaking.
answer from @sanders41

## Implementation:

from

[2022-04-26 13:20] sanders41 commented on #449
@alallema if you want help or have questions with this let me know. Also, since this will be a breaking change it would be a good time to also drop Python 3.6 support, info here #378.

[2022-04-26 17:04] brunoocasali commented on #347
Closed by #329

[2022-04-26 20:27] brunoocasali commented on #449
The idea is to drop just the 3.6 and support the minimum non-eol version which is 3.7 right?

[2022-04-26 20:38] sanders41 commented on #449
Correct

[2022-04-27 12:36] brunoocasali commented on #347
Sorry, my bad!

[2022-05-13 08:32] roshammar opened #457 "Quote missing in code sample in README"
**Description**
In the README, there are quotes missing around `filter` in a code sample, causing it to fail when run.

[code]

PR coming up to fix this.

**Expected behavior**
The code sample should return a set of hits from the search backend.

**Current behavior**
The code sample crashes.

**Environment (please complete the following information):**
 - OS: macOS
 - Meilisearch version: v.0.27.0

[2022-05-13 09:53] #457 closed

[2022-05-23 07:44] brunoocasali opened #462 "Python hosted documentation"
Following the integration-guides issue [#201](https://github.com/meilisearch/integration-guides/issues/201) we must implement the automatic documentation in this SDK.

- [ ]  Decide which module will be used, [good reference](https://medium.com/@peterkong/comparison-of-python-documentation-generators-660203ca3804) which compares multiple alternatives.
- [ ]  Implement it based on these constraints

[2022-07-16 18:12] brunoocasali opened #495 "Add support to the pagination setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-16 18:17] brunoocasali opened #496 "Add support to the facet setting customization at the index level"
⚠️ This issue is generated, which means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Related to:
- parent issue: https://github.com/meilisearch/integration-guides/issues/205
- engine issue: https://github.com/meilisearch/specifications/pull/157, https://

[2022-07-19 22:51] sapristi opened #500 "Typing of Index.get_documents has not been updated"
**Description**

Typing of Index.get_documents has not been updated

**Expected behavior**

Correct typing: `Dict[str, Any]` (although I guess we could also use TypedDict, this is probably out of scope)

**Current behavior**

Typing has not been updated, and is wrong: `List[Dict[str, Any]`

**Environment (please complete the following information):**
 - Meilisearch version: [e.g. v.0.28.0]
 - meil

[2022-07-20 10:19] #500 closed

[2022-07-27 07:36] #496 closed

[2022-07-27 14:23] alallema opened #508 "Create Class for every ressources"
**Description**
Currently, the python SDK contains only a few classes including `Index` and `Client`.
it would be nice to implement all the resources returned by the API of `Meilisearch` in class that would have the effect to return more precise types.

**Basic example**
Every resource could be defined as a class like:
[code]
[code]
See this [repository](
https://github.com/sanders41/meilisearch-p

[2022-07-31 09:07] ElamC commented on #508
Would like to tackle some of this, just want to know if the issue is open to PR submissions?

[2022-07-31 14:43] alallema commented on #508
Hi @ElamC,
Yes of course, precisely! 😃

[2022-08-03 14:34] ElamC commented on #508
@alallema are you looking to have values accessed using pythonic variable names over the camelcase passed in by responses:
`enqueuedAt` vs `enqueued_at`

Converting to a pythonic variable name with underscores requires something like this:

[code]
For example, this is done for every task dict in the `results` list from `get_tasks()`
This might cause a slow down in performance?

[2022-08-04 09:50] alallema commented on #508
Hi @ElamC,
Thank you so much for taking care of this ❤️. I prefer the second option also can't we use [this library](https://pypi.org/project/camel-converter/) as it has been implemented [here?](https://github.com/sanders41/meilisearch-python-async/blob/main/meilisearch_python_async/models/task.py)

[2022-08-04 10:08] sanders41 commented on #508
Thank you so much for taking care of this ❤️. I prefer the second option also can't we use [this library](https://pypi.org/project/camel-converter/) as it has been implemented [here?](https://github.com/sanders41/meilisearch-python-async/blob/main/meilisearch_python_async/models/task.py)

Just a note if you go this direction. Make sure to install camel-converter with the Pydantic extra `pipenv ins

[2022-08-07 15:10] ElamC commented on #508
#513 Introduces this to the project so there are still changes to be made to ensure other resources also return class models

[2022-08-22 11:23] #508 closed

[2022-09-20 07:20] gardenerik opened #532 "camel-converter is not in install requirements"
**Description**
camel-converter was added as a runtime dependency in [this commit](https://github.com/meilisearch/meilisearch-python/commit/d9e6537fe8e31787eee5749492c045a391a4e493). However, it is missing from `setup.py` [requirements](https://github.com/meilisearch/meilisearch-python/blob/a5187203e2187e9428883c50fe6abacca0f3ee8a/setup.py#L8-L10), so it does not install automatically with `meilis

[2022-09-21 01:20] jw-star commented on #532
+1

[2022-09-21 11:46] #532 closed

[2022-09-21 13:19] #378 closed

[2022-10-02 08:29] kaggrwal commented on #462
@brunoocasali @alallema

I have tried creating some documentation here. I have hosted it here [https://meilisearch-python-docs.tiiny.site/](url).

Kindly check and let me know if this is what we are trying to achieve in this issue.
You can let me know the improvements, i will fix them and will proceed for publishing on subdomain/community.

If everything is fine, kindly guide me regarding the CI p

[2022-10-03 10:22] alallema commented on #462
Hi @kaggrwal,
This is exactly the kind of thing we would like 🤩 !!!
How did you generate this documentation, does a GitHub Action exist for this or would it be possible to implement that in a CI? Could we consider hosting this documentation directly on a GitHub page?
Thanks again for contributing with Meilisearch :heart:
If you are participating in [Hacktoberfest](https://blog.meilisearch.com/cont

[2022-10-04 11:57] Azanul commented on #347
I'd like to implement some of the remaining points.

[2022-10-05 08:32] alallema commented on #347
Hi @Azanul,
Thank you for your interest, you can implement what you want 😊

[2022-10-05 10:21] alallema commented on #462
Thanks to you @kaggrwal, and don't hesitate if you have any questions.

[2022-10-06 11:52] #423 closed

[2022-10-06 18:54] kaggrwal commented on #462
Hi @alallema and @brunoocasali,

I have pushed the changes, and added an github action also.
This will generate the documentation and will publish it to the github pages.  [example](https://kaggrwal.github.io/meilisearch-python/)

Things to do before merging:
-  Change the branch name in documentation.yml, which would trigger the documentation action
   Attached Screenshot, you can see branch name

[2022-10-08 11:20] alallema commented on #462
Hi @kaggrwal,
Thank you so much for this amazing job !!! It's really really cool 🤩
I have a question:

Attached Screenshot, you can see branch name '462_python_hosted_documentation' in two places.

Did you mean I have to create a branch called `462_python_hosted_documentation` in this repository and change the base branch of your PR to this one?

[2022-10-08 16:18] kaggrwal commented on #462
@alallema There is no need to  change the base branch, I have modified the documentation action to get triggered , so whenever any change will be pushed to main branch, documentation would be regenerated.
Suppose, if someone has added new module or new file or changed some code, documentation would be regenerated in that case.

You can merge it and , take the steps that i have mention after mergin

[2022-10-10 08:39] #462 closed

[2022-10-10 12:05] alallema opened #550 "Check alternative to `sphinx-action`"
Currently, we referred to the tag `master` for the `ammaraskar/sphinx-action` like explained in this [comment](https://github.com/meilisearch/meilisearch-python/pull/546#discussion_r991041265) by @curquiza it's would be better to check for an alternative.

As specified by @sanders41 in this [comment](https://github.com/meilisearch/meilisearch-python/pull/553#issuecomment-1274533531) it could be gr

[2022-10-11 10:48] brunoocasali opened #555 "Replace MEILISEARCH_HOST by MEILISEARCH_URL in the docker config"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, feel free to add any clarification and instruction about this issue.

Sorry if this is already partially/completely implemented, feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisear

[2022-10-11 11:23] girijakar commented on #555
I would like to work on this issue.

[2022-10-11 19:36] kaggrwal commented on #550
@alallema assign this to me, i have worked on the original PR. So, i will work on this too on this weekend or sooner.

[2022-10-11 20:28] alallema commented on #550
@kaggrwal of course !
Just for your information normally we prefer not assigning people to our issues because sometimes people ask to be assigned and never come back, which discourages volunteer contributors to open a PR to fix this issue.
But exceptionally I will assign you!

[2022-10-12 09:20] #555 closed

[2022-10-13 10:23] #550 closed

[2022-10-14 13:16] Ambareen09 commented on #347
I'd be interested in implementing update document in CSV

[2022-10-15 09:13] Wattyyy opened #563 "Inconsistencies in coding style"
## Description
I found some inconsistencies in the coding style, such as mixed double and single quotes and mixed class definitions with and without parentheses. These inconsistencies are easily fixed by using formatter libraries such as [Black](https://github.com/psf/black).
If these inconsistencies are intended for some reason, feel free to close this issue.

## Example

### Example of mixed dou

[2022-10-15 10:07] Dark-Rock commented on #563
Hey I want to work on this issue

[2022-10-15 10:40] Dark-Rock opened #565 "pyproject.toml file for configuration"
**Description**
Instead of setting up the project in the setup.py. I think it would be interesting to migrate part of the code towards the pyproject.toml file. This would allow configuration of the project and external tools (poetry, black, pylint) in the same file.

**Basic example**
The setup would look like this
[code]

pyproject.toml would allow external tool configuration. Such as black confi

[2022-10-16 11:28] sanders41 commented on #565
If moving to pyproject.toml the setup.py could be removed all together using [hatch](https://github.com/pypa/hatch) for the builds. This is assuming pipenv works with pyproject.toml, I'm not sure if it does or not.

[2022-10-17 10:59] alallema commented on #563
Thanks @Wattyyy for raising this issue,
Good catch, indeed, there is some inconsistency in some places in the code. Normally we tried to use triple quotes for """docstrings""", to conform to [PEP 257](http://www.python.org/dev/peps/pep-0257/), simple quote in the code except for string interpolation when we used double quote. But actually, we could totally use double quotes everywhere.

[2022-10-17 16:27] Azanul commented on #347
@alallema Please reopen as not all methods are completed.

[2022-10-17 18:05] brunoocasali commented on #563
Hi @Wattyyy and @alallema, do you know is there a way to prevent this inconsistency from happening again? Like we have in the ruby repo (with rubocop)

[2022-10-18 20:48] brunoocasali opened #568 "Add new code-samples requested by the Meilisearch v0.29 release"
⚠️ This issue is generated, it means the examples and the namings do not necessarily correspond to the language of this repository.
Also, if you are a maintainer, please add any clarification and instructions about this issue.

Sorry if this is already wholly/partially implemented. Feel free to let me know about the state of this issue in the repo.

Related to https://github.com/meilisearch/integr

[2022-10-20 09:48] #563 closed

[2022-10-21 07:24] Wamy-Dev opened #573 "Problem adding documents when using Meilisearch in a Python Docker Container"
**Description**
I have built a python application that I need to run in a Docker Container. It gathers data, adds it to a CSV, then adds it to Meilisearch using the Meilisearch module.

**Expected behavior**
Add CSV to database/Meilisearch and finish the code.

**Current behavior**
Program ran like normal until it was time to delete the index like I would want. It runs perfect just running with `p

[2022-10-21 09:52] sanders41 commented on #573
What is `SEARCHCLIENT`? You are using that as your URL to Meilisearch, but `meiliclient` isn’t a valid URL.

[2022-10-21 17:10] Wamy-Dev commented on #573
SEARCHCLIENT is the url, it seems that I forgot to set the ENV variables when running. Even so, when I set the URL correctly, it never actually completes the request. It just prints `330` to my logs. I don't know what that means or anything. The delete request goes through, but adding the csv fails and never actually happens.

[2022-10-22 00:44] sanders41 commented on #573
`COPY . .`, just to be sure the csv gets copied with this right?

[2022-10-22 01:09] Wamy-Dev commented on #573
No, the csv gets created as the program runs. I can verify the file is created, so the csv possibly not existing isn't the problem. Also, it works fine when run locally without Docker.

[2022-10-22 01:33] sanders41 commented on #573
Let’s see if you can reach the server without the Meilisearch client. In your `main.py` add

[code]

What gets printed?

[2022-10-22 02:17] Wamy-Dev commented on #573
[code]

[2022-10-22 02:19] Wamy-Dev commented on #573
I tested it with a test index, and it seemed to add the file when it had only 900 items. The csv file I am trying to add is over 270,000 lines, which may be a problem it seems.

[2022-10-22 10:07] sanders41 commented on #573
The Meilisearch client in and out of Docker _should_ act the same. I wonder if it is a memory issue since the Docker container will have less available to it than outside Docker. If you try the encoding without sending to Meilisearch does it error?

[code]

[2022-10-22 13:52] Wamy-Dev commented on #573
Ah, instead of doing that, I ran the container privileged using the `--privileged` tag, when running the container, and it seemed to have worked. I'm going to change the title as it will be more relevant for newcomers. Thank you for your help. Seems like memory was really the problem.

[2022-10-24 09:13] #565 closed

[2022-10-24 23:40] #573 closed

[2022-10-25 21:42] 3t8 opened #580 "Fix broken links in README"
**Description**
Some of the links such as `https://itconnect.uw.edu/learn/workshops/online-tutorials/web-publishing/what-is-a-terminal/` are not working

**Expected behavior**
Links should work

**Current behavior**
Links are pointing to unavailable pages

[2022-10-25 21:44] 3t8 commented on #580
Proposed fix #581

[2022-10-26 11:18] #580 closed

[2022-10-26 12:18] alallema opened #585 "`add_document` method doesn't give access to `missing_payload` error when empty string is send"
**Description**
When trying to add an empty string document in Meilisearch the error message should be:
[code]

**Expected behavior**
Receive a formal message for this case from Meilisearch API.

**Current behavior**
The following error message is received when the method is used in this way:
[code]
[code]

**Environment (please complete the following information):**
 - Meilisearch version: v.0.29

[2022-10-26 13:00] PhilippFr commented on #585
Taking a look on this 👍

[2022-10-26 14:31] #568 closed

[2022-10-26 15:19] adripo commented on #585
I would like to work on this issue. I read your contribution guidelines and you prefer to not assign people to issue, but just wanted to let you know that I am working on this.

[2022-10-26 21:26] adripo commented on #585
Hi @alallema I fixed the issue. It was a bit complicated to find out how the flow works. I had to find out how the api requests are managed in the main repo (and I don't know rust 😓)

[2022-10-27 09:29] alallema commented on #585
My bad the issue may not have been clear enough, but the problem was only that the SDK did not send an empty string correctly when it should have

[2022-11-08 13:06] #585 closed

[2022-11-21 11:28] alallema opened #602 "Change type for `details` in `Task` class"
Currently, details is defined as is in the `Task` class:
[code]
while it should be of type:
[code]

[2022-11-21 15:09] bidoubiwa opened #604 "Keep the code object oriented everywhere"
in [meilisearch/tasks.py](https://github.com/meilisearch/meilisearch-python/blob/main/meilisearch/task.py) we create root level functions. This is the only file in this project where we do not do object-oriented programming.

For example, we call `get_task` in the `get_task` method

https://github.com/meilisearch/meilisearch-python/blob/ebfb0bbd3d6d31222639a5b7226bab9262dd1fc9/meilisearch/client.p

[2022-11-21 16:42] bidoubiwa commented on #604
In your suggestion, the user has to import the Task module to be able to use its functions?

[2022-11-21 19:57] sanders41 commented on #604
Yes, you would have to import it.

[2022-11-22 10:04] bidoubiwa commented on #604
By making this choice, are we not making the usage of the library more complex in favor of a certain code architecture?

[2022-11-22 10:35] sanders41 commented on #604
In my opinion no, but that doesn't mean my opinion is everyone's opinion or the only correct opinion 🙂.

[2022-11-29 10:34] alallema opened #610 "Update the return of methods that should return `TaskInfo`"
Most of the methods that call the Meilisearch API are asynchronous and should return the  dedicated class `TaskInfo` class like:
[code]
But a lot of them return instead a `Dict`:
[code]

**Methods to update:**
- [x] create_index()
- [x] delete_index()
- [x] create_key()
- [x] update_key()
- [x] delete_key()
- [x] create_dump()
- [x] update_settings() and all subsetting update methods
- [x] reset_s

[2022-11-29 10:49] alallema opened #611 "Make the usage of the module `typing` consistent"
In some parts of the SDK, the `typing` module is used but not everywhere so that in some places the `dict` type is used and in others the `Dict` type.
It would be nice to make the whole thing coherent and make it easier to use the module everywhere.